<div class="fullpage scrolling">
	<div class="d-flex h-100 flex-column">
		<div class="row spacer-lg" style="margin: 0;"></div>
		<div class="row align-items-center" style="margin: 0;">
			<div class="col-4">
				<input type="text" class="form-control input-lg" name="queryString" [(ngModel)]="queryString">
			</div>
			<div class="col-8">
				<input type="button" class="btn btn-primary" value="Search Amazon Fresh" (click)="search();">
			</div>
		</div>
		<div class="row spacer-sm" style="margin: 0;"></div>
		<div class="row fill d-flex justify-content-start" style="margin: 0">
			<div class="col" style="margin-left: 15px; padding:0;">
				<div class="product-container">
					<div class="product-inner">
						<div class="product-search" *ngFor="let product of searchProducts, let idx = index">
							<div class="text-center"><img [src]="product.imgUrl"></div>
							<h5 class="text-center blue">{{product.name}}</h5>
							<p class="text-center"><small>{{product.desc}}</small></p>
							<p class="text-center red">${{product.price}}</p>
							<div class="text-center"><button class="btn btn-sm btn-outline-primary" (click)="add(idx);" [disabled]="_foodService.addableProducts[idx].addable">Add</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row spacer-sm" style="margin: 0;"></div>
		<div class="row justify-content-center" style="margin: 0;">
			<div class="col-2 mx-auto">
				<div class="text-center">
					<ul class="pagination">
						<li class="page-item disabled">
							<a class="page-link" href="#">&laquo;</a>
						</li>
						<li class="page-item active">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">4</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">5</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>