.shortened {
	width: 80px;
}

.cart-image {
	height: 59px;
	margin: 0;
	padding: 0;
}

.cart-stepper {
	width: 45px;
	height: 20px;
	border-radius: 2px;
}

.product-cart {
	width: 95%;
	height: 60px;
	margin-top: 5px;
	margin-left: 5px;
	border-bottom: 1px solid #dddddd;
	background-color: #d2b48c1f;
}