<div class="fullpage scrolling">
	<div class="d-flex h-100 flex-column">
		<div class="row spacer-xl" style="margin: 0;"></div>
		<div class="row align-items-center" style="margin: 0;">
			<div class="col">
				<input type="button" class="btn btn-primary" value="Clear">
				<input type="button" class="btn btn-primary" value="Default">
			</div>
			<div class="col text-right">
				<input type="button" class="btn btn-success" value="Submit Order">
			</div>
		</div>
		<div class="row spacer-sm" style="margin: 0;"></div>
		<div class="row fill d-flex justify-content-start" style="margin: 0;">
			<div class="col" style="padding:0;">
				<div class="product-container scrolling">
					
				</div>
			</div>
		</div>
		<div class="row spacer-sm" style="margin: 0;"></div>
		<div class="d-flex justify-content-end" style="margin: 0;">
			<div class="d-flex flex-column">
				Remaining Budget:&nbsp;
			</div>
			<div class="d-flex flex-column">
				<input class="form-control form-control-sm shortened" id="inputSmall" type="text" disabled>
			</div>
		</div>
		<div class="row spacer-xl" style="margin: 0;"></div>
	</div>
</div>