<div class="container-fluid d-flex flex-column" style="margin: 0;">
	<div class="row" style="margin: 0;">
		<div class="col">
			<app-topnav></app-topnav>
		</div>
	</div>
	<div class="row fill d-flex justify-content-start" style="margin: 0;">
		<div class="col">
			<div class="search">
				<app-search [searchProducts]="searchProducts" [cartProducts]="cartProducts"></app-search>
			</div>
			<div class="cart">
				<app-cart [searchProducts]="searchProducts" [cartProducts]="cartProducts"></app-cart>
			</div>
		</div>
	</div>
</div>