.blue {
	color: #004488;
}

.red {
	color: #993333;
}
.fullpage {
	width: 100%;
	height: 96vh;
	margin: 0px;
}

.bordered {
	border: 1px solid black;
}

.scrolling {
	overflow: auto;
}

.spacer-sm {
	height: 2px;
}

.spacer-md {
	height: 10px;
}

.spacer-lg {
	height: 16px;
}

.spacer-xl {
	height: 19px;
}

.fill {
    flex: 1;
}

.nopadding {
	padding: 0px;
}

.nomargin {
	margin: auto;
}

.product-container {
	border: 1px solid #dddddd;
	border-radius: 5px;
	height: 100%;
}

.product-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    overflow: auto;
}